<html lang="en">
<!--Version 7.0 
	Name: Luke Matuza
	Date Completed: 5/24/21
    -->

<head>

    <title>Journal | Luke Matuza Photography</title>


    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="CSS/style.css">

    <!-- JavaScript -->
    <!-- These are needed to get the responsive menu to work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="JS/script.js"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">
    </style>
</head>

<body>
    <!---------------------------------- Begin the nav-bar ------------->
    <div class="menu">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="http://shakonet.isd720.com" class="navbar-brand">Luke Matuza </br>Photography</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Edit These Items in your Menu ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="aboutme.html" class="nav-item nav-link">About Me</a>
                    <a href="photos.html" class="nav-item nav-link">Photos</a>
                    <a href="journal.html" class="nav-item nav-link active">Journal</a>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                    <!----------------------------------^ Edit These Items in your Menu ^ ------------->
                </div>
            </div>
        </nav>
    </div>
    <!---------------------------------- End the nav-bar ------------->

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        My January 2021 Trip
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <img src="images/photo19.jpg" width=250px height=400px style="object-fit: cover;" align="right">
                    <p>Pellentesque a tristique neque. Nullam ac urna justo. Suspendisse potenti. Donec sodales orci
                        velit. Donec non tellus gravida, efficitur est vel, condimentum lectus. Mauris feugiat interdum
                        leo nec hendrerit. Proin id mollis metus. Cras consequat libero vitae pulvinar elementum. Cras
                        placerat libero turpis, sit amet tempus mauris commodo vestibulum. Integer facilisis augue sed
                        ex viverra, a consectetur urna eleifend. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Vivamus non dui vitae elit vulputate euismod et non urna.</p>

                    <p>Donec faucibus ante non eros sodales volutpat. Pellentesque maximus justo id risus lobortis
                        pulvinar. Nunc fermentum scelerisque mauris, sed blandit nisl tincidunt quis. Aliquam erat
                        volutpat. Curabitur ac lorem ac arcu dignissim mattis a vitae erat. Curabitur facilisis bibendum
                        vehicula. Nam sodales massa tempor nisl ultrices congue. Sed quam elit, aliquet a diam sit amet,
                        mollis laoreet sapien. Vestibulum ac nisi id sapien elementum vulputate. Nunc volutpat dignissim
                        velit, eget accumsan nibh fermentum eu.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        My Summer 2020 Trip
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <img src="images/photo17.jpg" width=250px height=400px style="object-fit: cover;" align="right">
                    <p>Pellentesque a tristique neque. Nullam ac urna justo. Suspendisse potenti. Donec sodales orci
                        velit. Donec non tellus gravida, efficitur est vel, condimentum lectus. Mauris feugiat interdum
                        leo nec hendrerit. Proin id mollis metus. Cras consequat libero vitae pulvinar elementum. Cras
                        placerat libero turpis, sit amet tempus mauris commodo vestibulum. Integer facilisis augue sed
                        ex viverra, a consectetur urna eleifend. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Vivamus non dui vitae elit vulputate euismod et non urna.</p>

                    <p>Donec faucibus ante non eros sodales volutpat. Pellentesque maximus justo id risus lobortis
                        pulvinar. Nunc fermentum scelerisque mauris, sed blandit nisl tincidunt quis. Aliquam erat
                        volutpat. Curabitur ac lorem ac arcu dignissim mattis a vitae erat. Curabitur facilisis bibendum
                        vehicula. Nam sodales massa tempor nisl ultrices congue. Sed quam elit, aliquet a diam sit amet,
                        mollis laoreet sapien. Vestibulum ac nisi id sapien elementum vulputate. Nunc volutpat dignissim
                        velit, eget accumsan nibh fermentum eu.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        My Summer 2019 Trip
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <img src="images/photo13.jpg" width=250px height=400px style="object-fit: cover;" align="right">
                    <p>Pellentesque a tristique neque. Nullam ac urna justo. Suspendisse potenti. Donec sodales orci
                        velit. Donec non tellus gravida, efficitur est vel, condimentum lectus. Mauris feugiat interdum
                        leo nec hendrerit. Proin id mollis metus. Cras consequat libero vitae pulvinar elementum. Cras
                        placerat libero turpis, sit amet tempus mauris commodo vestibulum. Integer facilisis augue sed
                        ex viverra, a consectetur urna eleifend. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Vivamus non dui vitae elit vulputate euismod et non urna.</p>

                    <p>Donec faucibus ante non eros sodales volutpat. Pellentesque maximus justo id risus lobortis
                        pulvinar. Nunc fermentum scelerisque mauris, sed blandit nisl tincidunt quis. Aliquam erat
                        volutpat. Curabitur ac lorem ac arcu dignissim mattis a vitae erat. Curabitur facilisis bibendum
                        vehicula. Nam sodales massa tempor nisl ultrices congue. Sed quam elit, aliquet a diam sit amet,
                        mollis laoreet sapien. Vestibulum ac nisi id sapien elementum vulputate. Nunc volutpat dignissim
                        velit, eget accumsan nibh fermentum eu.</p>
                </div>
            </div>
        </div>
    </div>


    
</body>

</html>